# Basic
pandas 
jupyter 
scipy 
matplotlib 
mpi4py
cython
lockfile
docopt
seaborn
numba

# Deep learning
tensorflow 
keras 
h5py 
keras-rl
baselines
tensorboardX

# AI Gym requirements
PyOpenGL
piglet
pyglet

# Other
JSAnimation
ipywidgets
